body {
                font-family: monospace,sans-serif;
                background-color: black;
                text-decoration: none;
            }
            .selectorContainer {
                display: flex;
                flex-direction: row;
                align-items: center;      
                justify-content: center;  
                background-color: #666666;
                color: #cccccc;
                border-radius: 0.5rem;
                padding: 0.5rem 1rem;
                gap: 1rem;                
                width: 100%;
                box-sizing: border-box;
}


            .selector {
                justify-content: center;
                align-items: center;
                gap: 0.5rem;
                font-size: 1rem;
                margin-top: 0;              
}
            #title{
                font-size: 1.5rem;
                font-weight: bolder;              
            }
            
            #selecaoCat{
                border:none;
                font-size: 1rem;
                text-align:center;
            }          
            .btn {
                border-radius: .5rem; 
                font-size: 1rem;                
                border: 1px;
                margin-bottom: .5rem;
                background-color: #ccffff;
                align-items: center;
            }
            .btn:hover{
                font-size:1.1rem;
                background-color: #00FFFF;
               
            }
            .produtos{
                background-color: #666666;
                color: #cccccc;
                font-size: 1rem;
                margin-top: 1.5rem;
                border-color: black;
                border-radius: .5rem;
                padding:1rem;
                margin: 1rem;
                gap: 1rem;
            }
          
           
